[include]
	path = ~/.config/git/features/enable-signing.gitconfig

[user]
	email = evan@ewpratten.com
	name = Evan Pratten
	signingkey = ~/.ssh/id_ed25519_sk_rk_yk20572395

[init]
    defaultBranch = master

[pull]
    rebase = false

[advice]
    detachedHead = true

[alias]
	authors = shortlog --summary --numbered --email
	tree = log --graph --decorate --abbrev-commit --all \
			--pretty=format:'%C(yellow)commit %h%C(auto)%d%n%C(cyan)Author:%Creset %aN %C(dim white)<%aE>%n%C(cyan)Date:%Creset %C(dim white)%ad (%ar)%n%s%n' \
			--date=format:'%b %d %Y %H:%M:%S %z'
	branches = branch -a -l -vv

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
    pushInsteadOf = https://github.com/

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[sendemail]
	smtpserver = smtp.migadu.com
	smtpuser = evan@ewpratten.com
	smtpencryption = tls
	smtpserverport = 587

[mailmap]
	file = ~/.config/git/.mailmap
