[user]
	email = ewpratten@gmail.com
	name = Evan Pratten
	# signingkey = 

# [core]
# 	editor = "vim"

# [gpg]
# 	format = ssh

[init]
    defaultBranch = master

[advice]
    detachedHead = true

[alias]
    authors = shortlog --summary --numbered --email

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
    #insteadOf = https://github.com/
    pushInsteadOf = https://github.com/

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

