[Unit]
Description = Sync Guru GitLab issues to Trello

[Timer]
OnCalendar = Mon..Fri *-*-* 9..17:0,30:0
Persistent = true

[Install]
WantedBy = timers.target
